*.swp
.#*
TAGS
.DS_Store
*.log
**/auto/

# local static assets
src/static/
# local database
appdata.sqlite3
CHECKSUMS.md5

# elm
gui-src/elm/repl-temp-*
gui-src/elm/elm-stuff/
gui-src/elm/node_modules/

# electron
node_modules/
dist/
out/
