@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
}

body {
    font-family: "Source Serif Pro";
    font-size: 16px;
    line-height: 1.7;
}
